<h3>Your answer is: <%= @answer_array.join.downcase %></h3>
<%= @return %>
<% scored = "" %>
<% (scored = "Your score is #{@score}!") if (@score != nil) %>
<%= scored %>
<p><%= link_to "Play again!", new_path %></p>
