<h3>Your answer is: <%= @answer_array.join.downcase %></h3>
<%= @return %>
<% scored = "" %>
<% (scored = "Score: #{@score}") if (@score != nil) %>
<p><%= scored %></p>
<div class="btn"><%= link_to "Play again!", new_path %></div>
